#main-header{
  background: #003b6f;
  color: white;
  text-align: left;
}

#MongoScraper {
  font-size: 32px;
  padding: 20px;
}

#home {
  font-size: 22px;
  font-style: bold;
  padding: 25px;
}

#savedarticles {
  padding: 25px;
  float:left;
  background-color: #003b6f;
}

#saved-articles,
#scrape,
#empty
 {
    background-color: #003b6f;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#saved-articles,
#scrape,
#empty
 {
    background-color: #003b6f; 
    color: black; 
    border: 2px solid grey;
}

#saved-articles:hover,
#scrape:hover,
#empty:hover
{
    background-color: grey;
    color: white;
}


#scrapearticles {
  padding: 20px;
  text-align: left;
}


#main-body{
     background: url("newspaper.jpeg") no-repeat center fixed;
     -webkit-background-size: cover;
  	 -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 100%;
  	 width: 100%;
  	 height: 500px;  
  	top: 0;
  	left: 0;
    }

#main-body-align {
  padding-top: 55px;
}
.atitle {
  font-size: 54px;
  font-style: bold;
  color: black;
  text-align: center;
}

.subtitle {
  font-size: 40px;
  color: black;
  text-align: center;
}

.two {
  background: url("paperbackground.jpeg");

}